/volumes/airflow/dags/__pycache__
volumes/airflow/logs/scheduler/latest
/volumes/airflow/logs/dag_id=spark_wordcount
/volumes/airflow/logs/dag_processor_manager
/volumes/airflow/logs/scheduler
/airflow/logs/scheduler
/airflow/logs/dag_processor_manager
eda/TMDB_movie_dataset_v11.csv
/spark/resources/credential/key.json
/spark/resources/credential
