# Python artifacts
*.pyc
__pycache__/
**/__init__.py
**/.ipynb_checkpoints/

# Environment and config
.env
key.json

# Airflow logs and dags
/volumes/airflow/dags/__pycache__/
/volumes/airflow/logs/
/airflow/logs/
/airflow/logs/dag_id=*
/airflow/dags/__pycache__/
/airflow/dags/test_scipt/__pycache__/
/airflow/data/*.csv
/airflow/data/*.parquet
/airflow/data/cbf_movie_recommendations_view

# Spark outputs and credentials
/spark/resources/credential/
/spark/output/
/spark/tmp
/spark/jupyter/.ipynb_checkpoints/
spark/resources/dataset/*.csv

# EDA data and notebooks
eda/*.csv
eda/*.parquet
eda/*.ipynb

# Model artifacts
model/**/*.csv
model/**/*.parquet
model/**/*.npy
model/**/*.zip
model/**/*.xlsx
model/Dataset/
