/volumes/airflow/dags/__pycache__
volumes/airflow/logs/scheduler/latest
/volumes/airflow/logs/dag_processor_manager
/volumes/airflow/logs/scheduler
/airflow/dags/__pycache__
/airflow/logs/dag_processor_manager
/airflow/logs/scheduler